.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
address {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Khula', sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f6f6f6;
}

.title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  color: #070707;
}

.text {
  padding-top: 10px;
  font-size: 400;
  font-size: 18;
  line-height: 1.2;
  color: #070707;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #828282;
}

@media screen and (min-width: 1200px) {
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link:hover,
.link:focus {
  color: #070707;
}

.title-contacts {
  padding-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-link {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-item {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .contact-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:first-child) {
    margin-left: 60px;
  }
}

.contacts-icon {
  margin-right: 20px;
  fill: #828282;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: #070707;
}

.footer {
  background-color: #070707;
}

.text-footer {
  color: white;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-list {
  border-bottom: 1px solid #828282;
}

.mobile-icon {
  fill: #828282;
  background-color: white;
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.div-hero {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .div-hero {
    display: inline-block;
    text-align: left;
  }
}

.title-hero {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #070707;
}

@media screen and (min-width: 1200px) {
  .title-hero {
    font-size: 47px;
    line-height: 1.3;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: white;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  top: 12px;
  right: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #070707;
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: white;
}

.mobile-list {
  list-style: none;
}

.mobile-item {
  margin-bottom: 32px;
}

.mobile-item:last-child {
  margin-bottom: 302px;
}

.mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #828282;
}

.mobile-link:hover,
.mobile-link :focus {
  color: #070707;
}

.mobile__list--contacts {
  position: absolute;
  left: 40px;
  bottom: 134px;
}

@media screen and (min-width: 1200px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title.skills {
  padding-top: 40px;
}

.title.skills,
.text.skills {
  text-align: center;
}

.text.skills {
  margin-top: 50px;
}

.skills-list {
  margin-top: 80px;
}

.skills-item {
  margin-top: 20px;
  text-align: center;
}

.skills-elements {
  margin-top: 20px;
}

.stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */